{% extends "index" %}
{% block content %}

	{% set image = entry.heroImage.one() %}
    <section class="hero" style="background-image: url('{{image.url}}')">
      <div class="hero__content content-column">

        <h1>{{ entry.heroTitle }}</h1>
        
      </div>
    </section>

    <section class="featured-story">
      <div class="featured-story__flex content-column">

        <div class="featured-story__content">

          <h2>Exporing Peru by Motorbike</h2>
          
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

          <p>
            <a href="./story.html" class="cta-link">Discover the full story</a>
          </p>
          
        </div>

        <div class="featured-story__slider">
          
          <!-- Slider Component -->
          <div class="slider">

            <div class="slider__nav">
              <button type="button" class="slider__prev">
                <img src="./static/images/arrow-prev.svg" alt="Previous">
              </button>
              <button type="button" class="slider__next">
                <img src="./static/images/arrow-next.svg" alt="Next">
              </button>
            </div>
            
            <div class="slider__reel">
              <img src="./static/images/photos/mohit-suthar-a1_tFcBSp7w-unsplash.jpg" alt="Ridge" class="slider__image">
              <img src="./static/images/photos/mountains.jpg" alt="Mountains" class="slider__image">
              <img src="./static/images/photos/photo-1606293715325-9329879fec0f.jpg" alt="Jungle" class="slider__image">
              <img src="./static/images/photos/jeremy-bishop-hMHJYQlWQwU-unsplash.jpg" alt="Scrambler" class="slider__image">
            </div>
            
          </div>

        </div>
        
      </div>
    </section>

    <section class="section section--more-padding section--light section--angled-top">
      <div class="content-column centered">
		{{entry.ridersIntroContent}}
        <div class="flex-columns">

		{% for rider in entry.riders.all() %}
			{% set photo = rider.photo.one() %}
          <div class="flex-columns__item">
            <img src="{{photo.url}}" alt="{{rider.fullName}}" class="flex-columns__image">
            <h4>{{rider.fullName}}</h4>
            <p>{{rider.description}}</p>
          </div>
		  {% endfor %}
        </div>
        
      </div>
    </section>
  </div>
{% endblock %}